.pre-box-body {
  max-width: 1200px;
  margin: 0 auto;
}

.section-pricing {
  padding: 115px 0;
}

.section-pricing h2 {
  margin-bottom: 15px;
}

.section-pricing .sub-text {
  font-size: 20px;
  text-align: center;
}

.pricing-level {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.pricing-level .lead-text {
  font-weight: 500;
  font-size: 27px;
  color: #494949;
}

.pricing-level .price-month {
  font-weight: 300;
  font-size: 33px;
  color: #494949;
}

.pricing-level .price-month span {
  font-size: 15px;
  text-transform: uppercase;
}

.pricing-level header {
  background-color: #f7f8fa;
  padding: 20px;
}

.pricing-level .pricing-body {
  padding: 25px 10px 10px 10px;
  background-color: #fff;
}

.pricing-level .pricing-body ul {
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
  list-style-image: url("/images/green-tick.png");
}

.pricing-level .pricing-body ul li {
  margin-bottom: 10px;
}

.pricing-level footer {
  padding: 0 20px 20px 20px;
  background-color: #fff;
}

.pricing-level footer .button {
  padding: 10px 7px;
  width: 100%;
}

.pricing-level footer span {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 13px;
}

.pricing-level.recommended header {
  background-color: #e4fbf6;
  padding: 40px 20px 20px 20px;
}

.pricing-level.recommended .price-month,
.pricing-level.recommended .lead-text {
  font-weight: 700;
  font-size: 33px;
}

.pricing-level.recommended .price-month span {
  font-weight: 500;
}

.trapezoid {
  border-bottom: 40px solid #72bbdb;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 100%;
  position: relative;
}

.trapezoid span {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  bottom: -32px;
  transform: translateX(-50%);
}

@media (min-width: 992px) {
  .recommend-outer {
    margin-top: -41px;
  }
}

.underline {
  text-decoration: underline;
}

/* button */

.button {
  display: inline-block;
}

.button {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 15px 25px;
  transition: all 0.5s ease;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.button:focus, .button:active {
  color: #fff;
}

.button-orange {
  background-color: #F8A66F;
  border-bottom: 4px solid #f2710d;
}

.button-orange:hover {
  background-color: #78d0be;
  border-bottom: 4px solid #599488;
  color: #fff;
}

.button-orange:disabled {
  background-color: #d3d3d3;
  border-bottom-color: #808080;
}

.button-orange:disabled:hover {
  background-color: #d3d3d3;
  border-bottom-color: #808080;
}

.button-green {
  background-color: #78d0be;
  border-bottom: 4px solid #599488;
}

.button-green:hover {
  background-color: #F8A66F;
  border-bottom: 4px solid #f2710d;
  color: #fff;
}

.button-blue {
  background-color: #72bbdb;
  border-bottom: 4px solid #0098c7;
}

.button-blue:hover {
  background-color: #78d0be;
  border-bottom: 4px solid #599488;
  color: #fff;
}

.button.disabled, .button.disabled:hover, .button.disabled:focus, .button.disabled:active {
  background-color: #F8A66F !important;
  border-bottom: 4px solid #f2710d !important;
  cursor: default;
}

.button.subscribed, .button.subscribed:hover, .button.subscribed:focus, .button.subscribed:active {
  background-color: #8c8b87 !important;
  border-bottom: 4px solid #413e40 !important;
  cursor: default;
}

.button.unable, .button.unable:hover, .button.unable:focus, .button.unable:active {
  background-color: #8c8b87 !important;
  border-bottom: 4px solid #413e40 !important;
  cursor: default;
}