@font-face {
  font-family: 'Flama';
  src: url("../fonts/flama/Flama-Bold.eot");
  src: url("../fonts/flama/Flama-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Bold.woff") format("woff"), url("../fonts/flama/Flama-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Flama';
  src: url("../fonts/flama/Flama-Medium.eot");
  src: url("../fonts/flama/Flama-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Medium.woff") format("woff"), url("../fonts/flama/Flama-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Flama';
  src: url("../fonts/flama/Flama-Light.eot");
  src: url("../fonts/flama/Flama-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Light.woff") format("woff"), url("../fonts/flama/Flama-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Flama Book';
  src: url("../fonts/flama/Flama-BookItalic.eot");
  src: url("../fonts/flama/Flama-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-BookItalic.woff") format("woff"), url("../fonts/flama/Flama-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Flama';
  src: url("../fonts/flama/Flama-Semibold.eot");
  src: url("../fonts/flama/Flama-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Semibold.woff") format("woff"), url("../fonts/flama/Flama-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Flama Book';
  src: url("../fonts/flama/Flama-Book.eot");
  src: url("../fonts/flama/Flama-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Book.woff") format("woff"), url("../fonts/flama/Flama-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flama';
  src: url("../fonts/flama/Flama-Black.eot");
  src: url("../fonts/flama/Flama-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/flama/Flama-Black.woff") format("woff"), url("../fonts/flama/Flama-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}